
<div class="col-lg-10">
    <button type="button" class="btn btn-primary" ng-click="new()">Nuova</button>    
</div>

<div class="col-lg-2">
    <input type="text" class="form-control" placeholder="Search" ng-model="query" required>
</div>

<table class="table table-striped">
    <thead>
    <tr>
	    <th>
		    Titolo
	    </th>
	    <th>
		    Domanda
	    </th>
	    <th>
		    Tipo
	    </th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="question in Questions | filter: query" ng-click="detail(question.Id)">
	    <td>
		    {{question.Survey.Title}}
	    </td>
			<td>
				{{question.QuestionText}}
			</td>
	    <td>
        {{question.Type}}
      </td>
    </tr>
    </tbody>
</table>
