<form name="form" role="form">
	<div class="form-group">
		<label for="name">Titolo</label>
		<input type="text" class="form-control" id="name" name="name" placeholder="Name" ng-model="Survey.Title" required>
	</div>
	<div class="form-group">
		<label for="name">Sottotitolo</label>
		<input type="text" class="form-control" id="name" name="name" placeholder="Name" ng-model="Survey.Subtitle" required>
	</div>
    <div class="form-group">
        <label for="url">Descrizione</label>
        <input type="text" class="form-control" id="url" name="url" placeholder="Url" ng-model="Survey.Description" required>
    </div>
	
    <button type="button" class="btn btn-primary" ng-click="save()" ng-disabled="!form.$valid">Save</button>
	<button type="button" class="btn btn-danger" ng-disabled="!form.$valid || Survey.Id == undefined" ng-click="delete()">Delete</button>
	<button type="button" class="btn btn-default" ng-click="close()">Close</button>
</form>
