
<div class="col-lg-10">
    <button type="button" class="btn btn-primary" ng-click="new()">Nuovo</button>
</div>

<div class="col-lg-2">
    <input type="text" class="form-control" placeholder="Search" ng-model="query" required>
</div>

<table class="table table-striped">
    <thead>
        <tr>
            <th>
                Titolo
            </th>
	        <th>
		        Sottotitolo
	        </th>
	        <th>
		        Descrizione
	        </th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="survey in Surveys | filter: query" ng-click="detail(survey.Id)">
            <td>
                {{survey.Title}}
            </td>
	        <td>
		        {{survey.Subtitle}}
	        </td>
	        <td>
		        {{survey.Description}}
	        </td>
        </tr>
    </tbody>
</table>
